# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
max_line_length = 140
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

# noinspection EditorConfigKeyCorrectness
[*.{js,ts}]
quote_type = single
method_call_chain_wrap = normal
spaces_within_object_literal_braces = true
keep_simple_blocks_in_one_line = true
keep_simple_methods_in_one_line = true

# noinspection EditorConfigKeyCorrectness
[*.{htm,html}]
method_call_chain_wrap = normal
space_inside_empty_tag = true
do_not_indent_children_of_tags = html

# noinspection EditorConfigKeyCorrectness
[*.{css,scss}]
quote_type = single
blank_lines_between_blocks = 0
blank_lines_around_nested_selector = 0

# noinspection EditorConfigKeyCorrectness
[*.svg]
max_line_length = 16384
attribute_wrap = off
space_inside_empty_tag = true
