<div class="container py-4">
  <div class="card login-box mx-auto shadow-sm">
    <div class="card-body">
      <h4 class="card-title text-center font-weight-normal mb-4 mt-1" translate>Sign In</h4>
      <hr />

      <p *ngIf="errorMessage && f.pristine" class="text-danger text-center smaller-1 mb-2">{{ errorMessage }}</p>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="py-2">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="loginId" class="input-group-text"><i class="fa fa-user fa-lg fa-fw"></i></label>
            </div>
            <input
              type="text"
              class="form-control"
              id="loginId"
              name="loginId"
              [placeholder]="'Username' | translate"
              ngModel
              #loginId="ngModel"
              [ngClass]="{ 'is-invalid': loginId.invalid && (loginId.dirty || f.submitted) }"
              required
              maxlength="255"
              autofocus
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <label for="password" class="input-group-text"><i class="fa fa-lock fa-lg fa-fw"></i></label>
            </div>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [placeholder]="'Password' | translate"
              ngModel
              #password="ngModel"
              [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || f.submitted) }"
              required
              maxlength="72"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg" translate>Login</button>
        </div>

        <p class="text-center mb-1"><a href="#" translate>Forgot your password?</a></p>
      </form>
    </div>
  </div>
  <!-- /.card -->
</div>
