<header>
  <nav class="navbar navbar-expand px-0 navbar-light bg-light shadow-sm">
    <div class="container px-3">
      <a class="navbar-brand bigger-1 py-0" routerLink="/">
        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="32" height="32" />
      </a>

      <ul class="navbar-nav ml-auto">
        <li ngbDropdown class="nav-item">
          <button
            ngbDropdownToggle
            class="navbar-toggler"
            id="navbarDropdownMain"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [attr.aria-label]="'MENU' | translate"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="navbarDropdownMain">
            <a ngbDropdownItem [routerLink]="filesLink">
              <i class="fa fa-sitemap fa-fw bigger-2" aria-hidden="true">&nbsp;</i>
              <span translate>My Files</span>
            </a>
            <a ngbDropdownItem [routerLink]="[filesLink, { trash: true }]">
              <i class="fa fa-trash-o fa-fw bigger-2" aria-hidden="true">&nbsp;</i>
              <span translate>Trash</span>
            </a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem [routerLink]="loginLink" (click)="logout()">
              <i class="fa fa-sign-out fa-fw bigger-2" aria-hidden="true">&nbsp;</i>
              <span translate>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
