.navbar-brand {
  font-size: 1.585rem;

  > img {
    vertical-align: bottom;
  }
}

.navbar-nav {
  .navbar-toggler {
    display: inline-block;
  }
}

.navbar-toggler {
  &:after {
    display: none;
  }
}
