<main class="container pt-1">
  <div uploadxDrop class="bg-light h5 my-4">
    <label class="file-drop d-block text-center py-3">
      <i class="fa fa-cloud-upload fa-5x"></i>
      <b class="d-block mb-2" translate>Choose your files to upload</b>
      <input type="file" [uploadx]="uploadOptions" (state)="onUpload($event)" #files (click)="files.value = ''" />
    </label>
  </div>

  <div class="table-responsive">
    <table class="table table-sm border-bottom">
      <thead class="thead-light">
        <tr>
          <th scope="col">&nbsp;</th>
          <th scope="col" class="w-50" translate>Filename</th>
          <th scope="col" translate>Size</th>
          <th scope="col" translate>Progress</th>
          <th scope="col" translate>Status</th>
          <th scope="col" translate>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploadService.queue">
          <td>
            <i [class]="'fa fa-lg fa-fw fa-file' + (item.name | fileType: '-') + '-o'"></i>
          </td>
          <td>{{ item.name }}</td>
          <td class="text-nowrap">{{ item.size | fileSize }}</td>
          <td class="align-middle">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                [attr.aria-valuenow]="item.progress"
                [style.width.%]="item.progress"
              ></div>
            </div>
          </td>
          <td>{{ item.status }}</td>
          <td class="small text-nowrap">
            <button
              type="button"
              class="btn py-0 px-1 btn-success"
              [attr.aria-label]="'Upload' | translate"
              [title]="'Upload' | translate"
              (click)="item.status = 'queue'"
              [disabled]="item.status != 'added' && item.status != 'paused'"
            >
              <i class="fa fa-upload fa-fw" aria-hidden="true"></i>
            </button>
            <i>&nbsp;</i>
            <button
              type="button"
              class="btn py-0 px-1 btn-secondary"
              [attr.aria-label]="'Pause' | translate"
              [title]="'Pause' | translate"
              (click)="item.status = 'paused'"
              [disabled]="item.status != 'uploading'"
            >
              <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
            </button>
            <i>&nbsp;</i>
            <button
              type="button"
              class="btn py-0 px-1 btn-danger"
              [attr.aria-label]="'Cancel' | translate"
              [title]="'Cancel' | translate"
              (click)="processUpload('cancel', item.uploadId)"
            >
              <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mb-4">
    <div class="progress mb-3 progress-lg">
      <div
        class="progress-bar progress-bar-striped bg-secondary"
        role="progressbar"
        aria-valuemin="0"
        aria-valuemax="100"
        [attr.aria-valuenow]="totalProgress"
        [style.width.%]="totalProgress"
      ></div>
    </div>

    <p>
      <button type="button" class="btn btn-primary" (click)="processUpload('upload')" [disabled]="!hasUploadState('added', 'paused')">
        <i class="fa fa-upload" aria-hidden="true">&nbsp;</i>
        <span translate>Upload All</span>
      </button>
      <i>&nbsp;&nbsp;</i>
      <button type="button" class="btn btn-secondary" (click)="processUpload('pause')" [disabled]="!hasUploadState('uploading')">
        <i class="fa fa-ban" aria-hidden="true">&nbsp;</i>
        <span translate>Pause All</span>
      </button>
      <i>&nbsp;&nbsp;</i>
      <button type="button" class="btn btn-warning" (click)="processUpload('cancel')" [disabled]="!hasUploadState()">
        <i class="fa fa-trash" aria-hidden="true">&nbsp;</i>
        <span translate>Cancel All</span>
      </button>
    </p>
  </div>
</main>
